@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .container{
        min-height: 100vh;
        background-image: url(https://digitshack.com/codepen/mentor4/bg-pattern-top.svg), url(https://digitshack.com/codepen/mentor4/bg-pattern-bottom.svg);
        background-color: hsl(185, 75%, 39%);
        background-repeat: no-repeat ,no-repeat;
        background-position: right 48vw bottom 40vh,
        left 45vw top 44vh;
        display:flex;
        justify-content: center;
    }
}
